/local.properties
.DS_Store
/captures
# Android Studio 3 in .gitignore file.
.idea/caches
.idea/modules.xml
# Version control
vcs.xml
# IntelliJ
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
# Gradle files
.gradle/
build/
.idea/inspectionProfiles/

.idea/codeStyles/Project.xml

.idea/misc.xml

.idea/navEditor.xml
# Java heap dump
*.hprof

*.hprof
